<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Show</title>
</head>
<body>
<p th:text="${gym.getGym_name() + ', ' + gym.getEquipment()}">VALUE</p>

<div th:if="${owner}">
    <span>В этом спортзале сейчас занимается: </span> <span th:text="${owner.getFull_name()}">Person Name</span>

    <form th:method="PATCH" th:action="@{/gym/{id}/release(id=${gym.getId()})}">
        <input type="submit" value="Перестать ходить в спортзал"/>
    </form>
</div>

<div th:if="${people}">
    <span>В этом спортзале есть места . Кого из людей записать туда?</span>
    <form th:method="PATCH" th:action="@{/gym/{id}/assign(id=${gym.getId()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.getId()}" th:text="${person.getFull_name()}">
            </option>
        </select>
        <input type="submit" value="Подписать на спортзал"/>
    </form>
</div>

<hr/>

<form th:method="GET" th:action="@{/gym/{id}/edit(id=${gym.getId()})}">
    <input type="submit" value="Редактировать"/>
</form>

<form th:method="DELETE" th:action="@{/gym/{id}(id=${gym.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>
